/doc/report/psd-report.aux
/doc/report/psd-report.log
/doc/report/psd-report.pdf
/doc/report/psd-report.synctex.gz
/doc/report/psd-report.tex
/doc/report/psd-report.toc
/doc/report/psd-report-concordance.tex
